@import url(./abstracts/vars.css);
@import url(./base/base.css);
@import url(./base/typography.css);
@import url(./components/components.css);
@import url(./layout/header.css);
@import url(./layout/footer.css);


.img-1 {
    width: 18vw;
    height: 12vw;
    object-fit: cover;
    object-position: 0 20%;
}

.card {
    height: 100%;
}